node_modules/
.env
**/.env
!.env.example
**/dist/
release/
scripts-license-private.pem
private.pem
cliente.key
licenca-*.key
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/private*.pem
**/*-private.pem
**/*private*.pem
